.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin: 0 40px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

input:checked + .slider {
  background-color: #2196F3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  text-align: center;
  background-color: #f6f6fe;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #6d708d;
  position: relative;
  overflow-x: hidden;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg-top {
  position: absolute;
  top: 0;
  right: -200px;
  z-index: -1;
  display: none;
}

.bg-top-mobile {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  display: block;
}

.bg-bot {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 50%;
}

header {
  padding: 40px 0;
}

header h1 {
  margin-bottom: 30px;
}

header p {
  color: #b3b5c6;
}

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  width: 335px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 10px;
}

.card h3 {
  font-size: 1.3rem;
  padding: 25px 0 0;
}

.card p {
  padding: 15px 0;
  font-size: 0.9rem;
}

.price {
  font-size: 4.2rem;
  padding: 20px 0;
  color: #494c5f;
}

hr {
  width: 80%;
  margin: auto;
  border-style: none;
  border-top: 2px solid #DDDBDB;
}

a {
  text-decoration: none;
  width: 85%;
  border-radius: 10px;
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  display: block;
  margin: 25px auto;
  padding: 15px;
  display: inline-block;
  color: whitesmoke;
  font-size: 0.9rem;
  letter-spacing: 2px;
}

a:hover {
  background-color: white;
  background-image: none;
  color: #696fdd;
  border: solid 1px;
}

.pro {
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  color: whitesmoke;
}

.pro hr {
  border-top: 1px solid #DDDBDB;
}

.pro .price {
  color: whitesmoke;
}

.pro a {
  background-image: unset;
  background-color: whitesmoke;
  color: #696fdd;
}

.pro a:hover {
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  color: white;
  border: solid 1px;
}

.hide {
  display: none;
}

@media (min-width: 700px) {
  .bg-bot {
    width: 400px;
  }
  .bg-top {
    display: block;
    right: 0;
  }
  .bg-top-mobile {
    display: none;
  }
  header {
    padding: 40px 0;
  }
  header p {
    font-size: 1.2rem;
  }
  .cards {
    display: flex;
    justify-content: center;
  }
  .card {
    margin: 25px 0;
  }
  .pro {
    height: 470px;
    margin: 0;
    padding: 30px 0;
  }
}
/*# sourceMappingURL=style.css.map */